<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Surekha/ATB5X/ATB5XLearningSelenium">
        <classes>
            <class name="org.SG.selenium.selenium10">
                <methods>
                    <include name="testVWOLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>